* {
    box-sizing: border-box;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.freq-input {
  display: flex;
  justify-content: space-between;
}
.f-box {
    border: solid 0.04em rgba(255, 255, 255, 0.452); 
    border-radius: 3em;
    width: 14rem;
    height: 2.6rem;
    margin: auto;
    background-color: #0feccfee;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    color: #222;
    margin-right: 3em;
  }
.f-box:before {
    content: '';
    display: block;
    width: 3rem;
    height: 100%;
    position: relative;
    background-color: #222;
    transition: all 0.5s ease;
  }
.f-input {
    width: 3.6em;
    height: 0.8em;
    box-shadow: none;
    border: none;
    background: transparent;
    color: #333;
    padding: 0.1em 0.1em 0.1em 0.3em;
    font-size: 2.2em;
    position: absolute;
    top: 0.22em;
    right: 1.4em;
}
.f-input:focus {
  outline: none;
}
.f-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 1em;
    top: 0.04em;
    right: 0.1em;
    font-size: 2.4em;
    background: rgb(7, 7, 7);
    color: #0feccfee;
    border-radius: 1em;
    padding-bottom: 0.15em;
    padding-left: 0.1em;
}
.f-button:hover {
  color: #00fddb;
  background: rgb(51, 51, 51);
}
.f-button:active {
  color: #1dd6beee;
  background: #000;
}
.f-txt {
    letter-spacing: -0.05em;
    position: absolute;
    height: 0.8em;
    width: 3em;
    top: -0.14em;
    right: -0.2em;
    font-size: 2.2rem;
}
.set-height {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}
.height-input {
  width: 1.8em;
  margin-left: 0.5em;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #1985A1;
  outline: none;
}